<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Thêm xe</title>
    <link rel="stylesheet" th:href="@{/css/admin/bus-form.css}">
    <link rel="stylesheet"
          th:href="@{/css/header.css}">
</head>

<body>

<div class="container"><h1>Thêm xe</h1>
    <form th:action="@{/admin/buses/create}" th:object="${bus}" method="post">
        <div class="form-group"><label>Biển số</label> <input type="text" th:field="*{licensePlate}">
            <p class="error" th:errors="*{licensePlate}"></p></div>
        <div class="form-group"><label>Loại xe</label> <input type="text" th:field="*{busType}">
            <p class="error" th:errors="*{busType}"></p></div>
        <div class="form-group"><label>Tổng ghế</label> <input type="number" th:field="*{totalSeats}">
            <p class="error" th:errors="*{totalSeats}"></p></div>
        <div class="form-group"><label>Hãng xe</label> <input type="text" th:field="*{companyName}">
            <p class="error" th:errors="*{companyName}"></p></div>
        <div class="form-group"><label>Tài xế</label> <input type="text" th:field="*{driverName}">
            <p class="error" th:errors="*{driverName}"></p></div>
        <div class="button-group">
            <button type="submit" class="btn-save"> Thêm xe</button>
            <a th:href="@{/admin/buses}" class="btn-back"> Quay lại </a></div>
    </form>
</div>
</body>
</html>