a{
    text-decoration:none;
}

.btn-back{
    display:inline-block;
    margin-top:20px;
    padding:10px 16px;
    background:#64748b;
    color:white;
    border-radius:6px;
}

.btn-back:hover{
    background:#475569;
}